[submodule "2110215-prog-meth/labs/lab-1-2022--2-Nacnano"]
	path = 2110215-prog-meth/labs/lab-1-2022--2-Nacnano
	url = https://github.com/2110215-ProgMeth/lab-1-2022--2-Nacnano
[submodule "2110215-prog-meth/2110215-prog-meth/labs/lab-3-2022-2-Nacnano"]
	path = 2110215-prog-meth/2110215-prog-meth/labs/lab-3-2022-2-Nacnano
	url = https://github.com/2110215-ProgMeth/lab-3-2022-2-Nacnano
